.like-item {
   font-size: 20px;
    border: dotted;

}

.one-product {
    margin: 20px;
    background-color: #fff;
    border: 3px solid #888899;
    color: #000;
}

@media screen and (max-width: 520px){
    /*body {*/
        /*background-color: #00cc55;*/

    /*}*/
}

.header__title {
    display: inline-block;

}

.header__logo {

    width: 10px;
    height: 10px;

}

nav a {
margin-right: 103px;
}